.container.ignite
  .row
    .col-md-12
      %h1
        = @ignite.name
        -if @ignite.status == 'draft'
          (draft)
      - if not @ignite.state.blank?
        %p= "#{@ignite.city}, #{@ignite.state}, #{@ignite.country}"
      - else
        %p= "#{@ignite.city}, #{@ignite.country}"
      %p= link_to @ignite.url, @ignite.url
      - if not @ignite.twitter_name.blank?
        = link_to "https://www.twitter.com/#{@ignite.twitter_name}", :target => "_blank" do
          %i.fa.fa-twitter.fa-2x
          =@ignite.twitter_name
      -if @upcomings.count > 0
        %p.top-50
          Next ignite:
          = @upcomings.first.name
          = "(#{@upcomings.first.date})"

  - if @videos.exists?
    .row
      %h4.left-15 Featured videos
      - @videos.each do |video|
        .col-md-6.col-sm-12.col-xs-12
          = thumbnail(video, 'video_rating_large', 60)

          %hr
    .row.paginate
      = will_paginate @videos, renderer: BootstrapPagination::Rails

    - if user_signed_in?
      .user
        = link_to edit_ignite_path(@ignite), class: "light btn-edit" do
          %i.fa.fa-pencil-square-o
        = link_to ignite_path(@ignite), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this ignite?"} do
          %i.fa.fa-times