.container-fluid
  .row
    .col-md-6.col-md-offset-1
      %h1 Ignite Talks admin panel
    .col-md-1.col-md-offset-3
      .btn-group.top-15
        %button{:type => "button", :class => "btn btn-default dropdown-toggle", "data-toggle" => "dropdown"}
          =current_user.name
          %span.caret 
        %ul.dropdown-menu
          %li= link_to "Change your password", edit_user_registration_path
          %li= link_to('Logout', destroy_user_session_path, :method => :delete)

/ Tab headings
.container-fluid
  .row
    .col-md-10.col-md-offset-1
      %ul.nav.nav-tabs{:role => "tablist", :id => "admin_tabs"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "videos_tab", "data-toggle" => "tab", :href => "#videos_tab", :id => "tab_videos", :role => "tab"} Videos
        %li{:role => "presentation"}
          %a{"aria-controls" => "playlists_tab", "data-toggle" => "tab", :href => "#playlists_tab", :id => "tab_playlists", :role => "tab"} Playlists
        %li{:role => "presentation"}
          %a{"aria-controls" => "events_tab", "data-toggle" => "tab", :href => "#events_tab", :id => "tab_events", :role => "tab"} Ignites
        %li{:role => "presentation"}
          %a{"aria-controls" => "upcomings_tab", "data-toggle" => "tab", :href => "#upcomings_tab", :id => "tab_upcomings", :role => "tab"} Upcoming events
        -if current_user.curator?
          %li{:role => "presentation"}
            %a{"aria-controls" => "tags_tab", "data-toggle" => "tab", :href => "#tags_tab", :id => "tab_tags", :role => "tab"} Video tags
        -if current_user.admin?
          %li{:role => "presentation"}
            %a{"aria-controls" => "users_tab", "data-toggle" => "tab", :href => "#users_tab", :id => "tab_users", :role => "tab"} Users

/ Tab containers
.container-fluid
  .row
    .col-md-10.col-md-offset-1
      .tab-content

        #videos_tab.tab-pane.active{:role => "tabpanel"}
          %h4
            %button= link_to "Add new video", new_video_path
          %hr
          %table#videos
            %thead
              %tr
                %th Featured
                %th Event
                %th Title
                %th Watch
                %th Presenter
                %th Presenter URL
                %th Uploaded
                %th Tags
                %th
                %th
            %tbody
              -@videos.each do |video|
                %tr
                  - if video.featured?
                    %td
                      %i.fa.fa-check
                  - else
                    %td
                  %td= video.event.name
                  %td= link_to video.title, edit_video_path(video)
                  %td.center
                    = link_to video.url, :target => "_blank" do
                      %i.fa.fa-play-circle
                  %td= video.speaker_name
                  %td= video.speaker_url
                  %td= video.created_at.to_date
                  %td= video.tags.map(&:name).join(", ")
                  %td
                    =link_to edit_video_path(video), class: "light btn-edit" do
                      %i.fa.fa-pencil-square-o
                  %td
                    =link_to video_path(video), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this video?"} do 
                      %i.fa.fa-times

        #playlists_tab.tab-pane{:role => "tabpanel"}
          %h4
            %button= link_to "Add new playlist", new_playlist_path
          %hr
          %table#playlists
            %thead
              %tr
                %th Name
                %th Ignite
                %th
            %tbody
              -@playlists.each do |playlist|
                %tr
                  %td= link_to playlist.name, edit_playlist_path(playlist)
                  %td= playlist.event.name
                  %td
                    =link_to edit_playlist_path(playlist), class: "light btn-edit" do
                      %i.fa.fa-pencil-square-o
                    - if can? :destroy, playlist
                      =link_to playlist_path(playlist), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this Playlist?"} do 
                        %i.fa.fa-times

        #tags_tab.tab-pane{:role => "tabpanel"}
          %h4
            %button= link_to "Add new tag", new_tag_path
          %hr
          %table#tags
            %thead
              %tr
                %th Name
                %th
            %tbody
              -@tags.each do |tag|
                %tr
                  %td= link_to tag.name, edit_tag_path(tag)
                  %td
                    =link_to edit_tag_path(tag), class: "light btn-edit" do
                      %i.fa.fa-pencil-square-o
                    - if can? :destroy, tag
                      =link_to tag_path(tag), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this Tag?"} do 
                        %i.fa.fa-times

        #events_tab.tab-pane{:role => "tabpanel"}
          %h4
            - if can? :create, Event
              %button
                =link_to "Add new Ignite", new_event_path
              %hr
          %table#events
            %thead
              %tr
                %th Name
                %th City
                %th State
                %th Country
                %th URL
                %th Twitter
                %th
            %tbody
              -@events.each do |event|
                %tr
                  %td= link_to event.name, edit_event_path(event)
                  %td= event.city
                  %td= event.state
                  %td= event.country
                  %td= link_to event.url, event.url, :target => "_blank"
                  %td= event.twitter_name
                  %td
                    =link_to edit_event_path(event), class: "light btn-edit" do
                      %i.fa.fa-pencil-square-o
                    - if can? :destroy, event
                      =link_to event_path(event), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this Ignite?"} do 
                        %i.fa.fa-times

        #upcomings_tab.tab-pane{:role => "tabpanel"}
          %h4
            %button
              =link_to "Add new upcoming event", new_upcoming_path
          %hr
          %table#upcoming
            %thead
              %tr
                %th Name
                %th Ignite
                %th Date
                %th
            %tbody
              -@upcomings.each do |upcoming|
                %tr
                  %td= upcoming.name
                  %td= upcoming.event.name
                  %td= upcoming.date
                  %td
                    =link_to edit_upcoming_path(upcoming), class: "light btn-edit" do
                      %i.fa.fa-pencil-square-o
                    =link_to upcoming_path(upcoming), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this upcoming event?"} do 
                      %i.fa.fa-times

        -if current_user.admin?
          #users_tab.tab-pane{:role => "tabpanel"}
            %h4
              %button
                =link_to "Add new User", new_user_path
            %hr
            %table#users
              %thead
                %tr
                  %th Admin?
                  %th Ignites
                  %th Name
                  %th Email
                  %th
                  %th
              %tbody
                -@users.each do |user|
                  %tr
                    - if user.admin?
                      %td
                        %i.fa.fa-check
                    - else
                      %td
                    %td
                      - user.events.map do |event|
                        =event.name
                    %td= user.name
                    %td= user.email
                    %td
                      = link_to edit_user_path(user), class: "light btn-edit" do
                        %i.fa.fa-pencil-square-o
                    %td
                      = link_to user_path(user), method: :delete, data: { confirm: 'Are you sure you with to delete this user?' } do 
                        %i.fa.fa-times