.container-fluid
  .row
    .col-md-6.col-md-offset-1
      %h1 Ignite Talks admin panel
    .col-md-1.col-md-offset-2
      = link_to "http://content.ignitetalks.io/how-to", class: "light btn-edit", :target => "_blank" do
        %i.fa.fa-question-circle.fa-2x.top-15
    .col-md-1
      .btn-group.top-15
        %button{:type => "button", :class => "btn btn-default dropdown-toggle", "data-toggle" => "dropdown"}
          =current_user.name
          %span.caret 
        %ul.dropdown-menu
          %li= link_to "Change your password", edit_user_registration_path
          %li= link_to('Logout', destroy_user_session_path, :method => :delete)

/ Tab headings
.container-fluid
  .row
    .col-md-10.col-md-offset-1
      %ul.nav.nav-tabs{:role => "tablist", :id => "admin_tabs"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "videos_tab", "data-toggle" => "tab", :href => "#videos_tab", :id => "tab_videos", :role => "tab"} Videos
        %li{:role => "presentation"}
          %a{"aria-controls" => "draft_videos_tab", "data-toggle" => "tab", :href => "#draft_videos_tab", :id => "tab_draft_videos", :role => "tab"} Draft Videos
        %li{:role => "presentation"}
          %a{"aria-controls" => "playlists_tab", "data-toggle" => "tab", :href => "#playlists_tab", :id => "tab_playlists", :role => "tab"} Playlists
        %li{:role => "presentation"}
          %a{"aria-controls" => "events_tab", "data-toggle" => "tab", :href => "#events_tab", :id => "tab_events", :role => "tab"} Ignites
        %li{:role => "presentation"}
          %a{"aria-controls" => "upcomings_tab", "data-toggle" => "tab", :href => "#upcomings_tab", :id => "tab_upcomings", :role => "tab"} Upcoming events
        -if current_user.curator?
          %li{:role => "presentation"}
            %a{"aria-controls" => "tags_tab", "data-toggle" => "tab", :href => "#tags_tab", :id => "tab_tags", :role => "tab"} Video tags
        -if current_user.admin?
          %li{:role => "presentation"}
            %a{"aria-controls" => "users_tab", "data-toggle" => "tab", :href => "#users_tab", :id => "tab_users", :role => "tab"} Users

/ Tab containers
.container-fluid
  .row
    .col-md-10.col-md-offset-1
      .tab-content

        #videos_tab.tab-pane.active{:role => "tabpanel"}
          %h4
            %button= link_to "Add new video", new_video_path
          %hr
          %table#tblVideos{:data => {:source => videos_path(format: :json, status: "published")}}
            %thead
              %tr
                %th Title
                %th Presenter
                %th Event
                %th Uploaded
                %th Featured
                %th Edit
                %th Delete
            %tbody

        #draft_videos_tab.tab-pane.active{:role => "tabpanel"}
          %hr
          %table#tblDraftVideos{:data => {:source => videos_path(format: :json, status: "draft")}}
            %thead
              %tr
                %th Title
                %th Presenter
                %th Event
                %th Uploaded
                %th Featured
                %th Edit
                %th Delete
            %tbody

        #playlists_tab.tab-pane{:role => "tabpanel"}
          %h4
            %button= link_to "Add new playlist", new_playlist_path
          %hr
          %table#tblPlaylists{:data => {:source => playlists_path(format: :json)}}
            %thead
              %tr           
                %th Name
                %th Ignite
                %th Featured
                %th Listed 
                %th No. videos  
                %th
                %th
            %tbody

        #tags_tab.tab-pane{:role => "tabpanel"}
          %h4
            %button= link_to "Add new tag", new_tag_path
          %hr
          %table#tblTags{:data => {:source => tags_path(format: :json)}}
            %thead
              %tr
                %th Name
                %th No. videos
                %th
                %th
            %tbody

        #events_tab.tab-pane{:role => "tabpanel"}
          %h4
            - if can? :create, Event
              %button
                =link_to "Add new Ignite", new_event_path
              %hr
          %table#tblEvents{:data => {:source => events_path(format: :json)}}
            %thead
              %tr
                %th Name
                %th City
                %th Country
                %th URL
                %th Twitter
                %th
                %th
            %tbody

        #upcomings_tab.tab-pane{:role => "tabpanel"}
          %h4
            %button
              =link_to "Add new upcoming event", new_upcoming_path
          %hr
          %table#tblUpcomings{:data => {:source => upcomings_path(format: :json)}}
            %thead
              %tr
                %th Event Name
                %th Ignite
                %th Date
                %th
                %th
            %tbody

        -if current_user.admin?
          #users_tab.tab-pane{:role => "tabpanel"}
            %h4
              %button
                =link_to "Add new User", new_user_path
            %hr
            %table#tblUsers{:data => {:source => users_path(format: :json)}}
              %thead
                %tr
                  %th Name
                  %th Email
                  %th Admin? 
                  %th No. Sign-ins
                  %th
                  %th
              %tbody
