= simple_form_for(@video, html: { class: 'form' })  do |f|
  .form-group
    -if current_user.curator?
      =f.input :featured, {:label => "Feature this video on the homepage?"}
    -if @video.id
      %h4= "Status: #{@video.status}"
    %hr
    -if not @video.status == 'draft'
      .row
        .col-md-10#ignite_name
          %label Filmed at:
          -if current_user.curator?
            = f.collection_select :event_id, Event.all.order(:name), :id, :remove_ignite, {:prompt => "Choose the Ignite"}, {:class=>'form-control select'}
          - else
            = f.collection_select :event_id, current_user.events.all.order(:name), :id, :name, {}, {:class=>'form-control select'}
      .row.top-25
        .col-md-10
          =f.input :url, input_html: { class: 'form-control' }, placeholder: "Enter the URL (in the format https://www.youtube.com/watch?v=YOUTUBE_ID)", label: 'Video URL (required)'
        .col-md-2
          .tooltip-wrapper{:data => {:toggle => "tooltip"}, :title => "Enter the URL, then retrieve title and description from YouTube"}
            %btn.btn.btn-warning.top-25#btnYouTubeRetrieve Get info

    .row.details
      .col-md-12
        =f.input :title,  input_html: { class: 'form-control' }, placeholder: "Enter the video's title", label: 'Video title (required)', hint: 'Do not include the speaker name or event name'
        =f.input :description,  input_html: { class: 'form-control', :rows => 5 }, placeholder: "Enter the video's description", label: 'Video description (required)', hint: 'Please enter a 1-2 sentence summary of the talk\'s topics. This will be displayed under the video, and on Facebook/Twitter posts. Do not include the speaker name or event name, or information about the videographer, etc. This section is just for a description of the talk itself'
        =f.input :speaker_name, input_html: { class: 'form-control' }, placeholder: "Enter the speaker's name", label: 'Speaker name (required)'
        =f.input :speaker_url, input_html: { class: 'form-control' }, placeholder: "Enter the speaker's URL (eg Twitter, blog, etc)", label: 'Speaker URL', hint: 'You can optionally provide a link to the speaker\'s blog, Twitter account, etc'
        =f.input :R18, :label => "Is this video suitable for 18+ only?"
        %hr
        %label.top-15 Tags:
        %p= f.collection_check_boxes :tag_ids, Tag.all.order(:name), :id, :name
        =f.input :new_tag_name, input_html: { class: 'form-control' }, placeholder: "Enter new tags (separated with commas)"

    -if not @video.status == 'draft'
      .row.top-25.details
        %hr
        .col-md-10
          %label Add to playlist:
          -if current_user.curator?
            %p= f.collection_check_boxes :playlist_ids, Playlist.all.order(:name), :id, :name
          - else
            %p= f.collection_check_boxes  :playlist_ids, Playlist.where("event_id IN (?)",  current_user.event_ids), :id, :name
          =f.input :new_playlist_name, input_html: { class: 'form-control' }, placeholder: "Enter a new playlist name"
    .row.details
      .col-md-10
        %hr
        -if @video.status == 'draft'
          =f.submit "Publish video", class: "btn btn-warning top-15"
        - else
          =f.submit class: "btn btn-warning top-15"
        -if @video.id
          =link_to "Delete video", video_path(@video), method: :delete, data: {confirm: "Are you sure you want to delete this video?"}, class: "btn btn-default top-15"
        =link_to admin_path do
          %btn.btn.btn-default.top-15 Back to Admin page