.container-fluid
  = render 'nav'
  .row.top-50
    .col-md-4.col-sm-12.col-xs-12
      = form_tag videos_path, class: "form-inline", method: :get do
        .input-group
          = text_field_tag :query, params[:query], class: "form-control", id: "search", autocomplete: "off"
          .input-group-btn
            - if params[:query].present?
              = link_to videos_path, class: "btn btn-default" do
                %i.fa.fa-times
            = submit_tag "Search", class: "btn btn-default"
    .col-md-8.right.hidden-sm.hidden-xs
      =link_to videos_path do
        %span.btn.btn-default.tags#clear-filter
          %i.fa.fa-times
          clear
      =link_to videos_path(sort: "views") do
        %span.btn.btn-default.tags{:id => "tag_views"}
          %i.fa.fa-youtube-play
          = "views"
      =link_to videos_path(sort: "likes") do
        %span.btn.btn-default.tags{:id => "tag_likes"}
          %i.fa.fa-thumbs-o-up
          = "likes"
    
  .row.top-50
    / .row.paginate
    /   = will_paginate @videos, renderer: BootstrapPagination::Rails
    -@videos.each_slice(4) do |vids|
      .row.top-15
        -vids.each do |video|
          .col-md-3.video_thumbnail
            %span= thumbnail(video, 'video_rating_small', 60)
  .row.paginate
    = will_paginate @videos, renderer: BootstrapPagination::Rails