.container
  .row
    .col-md-8.col-md-offset-2
      %h2.center Featured Ignite videos
  .row.top-50
    - @videos.each do |video|
      .col-md-6
        .embed-container
          =embed(video.url)
        %h4= link_to truncate(video.title, length: 60), video
        -if not video.speaker_name.blank?
          - if not video.speaker_url.blank?
            %P
              by
              = link_to video.speaker_name, video.speaker_url
          - else
            %p= "by #{video.speaker_name}"
        %span
          Filmed at
          = link_to video.event.name, event_page_path(video.event)
        %hr

.container
  .row
    .col-md-8.col-md-offset-2.center
      - @tags.each do |tag|
        %button.btn.btn-default
          =link_to tag.name.titleize, videos_path(tag: tag.name)
      %button.btn.btn-default
        =link_to "Clear", videos_path