.container
  .row
    .col-md-8.col-md-offset-2
      %h2.center Featured Ignite videos
  %hr
  .row.top-50
    .col-md-8.col-md-offset-2.center
      - @tags.each do |tag|
        %button{:class => 'btn btn-default tags', :id => "tag_" + tag.name}
          =link_to tag.name.titleize, videos_path(tag: tag.name)
      %button.btn.btn-default.btn-clear.tags
        =link_to "Clear", videos_path
  .row.top-50
    - @videos.each do |video|
      .col-md-6
        .embed-container
          =embed(video.url)
        %h4.title= link_to truncate(video.title, length: 60), video
        %p.subtitle
          -if not video.speaker_name.blank?
            - if not video.speaker_url.blank?
              = link_to video.speaker_name, video.speaker_url
            - else
              = "#{video.speaker_name}"
          at
          = link_to video.event.name, event_page_path(video.event)
        %hr
  .row.paginate
    = will_paginate @videos, renderer: BootstrapPagination::Rails
%hr