#banner
  =image_tag "http://www.ignitesydney.com/wp-content/uploads/2014/04/Ignite-76031.png"

.container
  .row
    .col-md-12
      %h1 Home page
      -@events.each do |event|
        .row
          .col-md-6
            %p= link_to event.name, event
            - if not event.state.blank?
              %p= "#{event.city}, #{event.state}, #{event.country}"
            - else
              %p= "#{event.city}, #{event.country}"
        %hr