.container
  .row
    .col-md-12
      %h1 Event index
      -@events.each do |event|
        .row
          %p= link_to event.name, event
          - if not event.state.blank?
            %p= "#{event.city}, #{event.state}, #{event.country}"
          - else
            %p= "#{event.city}, #{event.country}"
          %p= link_to "Visit site", event.url
        %hr