.container.event
  .row
    .col-md-12
      %h1= @event.name
      - if not @event.state.blank?
        %p= "#{@event.city}, #{@event.state}, #{@event.country}"
      - else
        %p= "#{@event.city}, #{@event.country}"
      %p= link_to @event.url, @event.url
      -if @upcomings.count > 0
        %p
          Next event:
          = @upcomings.first.name
          = "(#{@upcomings.first.date})"

  - if @videos.exists?
    .row
      %h4.left-15 Featured videos
      - @videos.each do |video|
        .col-md-6.col-sm-12.col-xs-12
          .embed-container
            =embed(video.url)
          %p.title= link_to truncate(video.title, length: 60), video
          %p.subtitle
            by
            -if not video.speaker_name.blank?
              - if not video.speaker_url.blank?
                = link_to video.speaker_name, video.speaker_url
              - else
                = video.speaker_name
          %hr
    .row.paginate
      = will_paginate @videos, renderer: BootstrapPagination::Rails

    - if user_signed_in?
      .user
        = link_to edit_event_path(@event), class: "light btn-edit" do
          %i.fa.fa-pencil-square-o
        = link_to event_path(@event), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this event?"} do
          %i.fa.fa-times