.container
  .row
    .col.md-12
      %h1= @event.name
      - if not @event.state.blank?
        %p= "#{@event.city}, #{@event.state}, #{@event.country}"
      - else
        %p= "#{@event.city}, #{@event.country}"
      %p= link_to "Visit website", @event.url

    - if @videos.exists?
      %h4 Featured videos
      - @videos.each do |video|
        %p= link_to video.title, video
        %p= video.url
        %hr

    - if user_signed_in?
      .user
        = link_to edit_event_path(@event), class: "light btn-edit" do
          %i.fa.fa-pencil-square-o
        = link_to event_path(@event), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this event?"} do
          %i.fa.fa-times