!!!
%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'content' => 'text/html'}
  %body
    %h4
      Hi
      =@user.email
    %p A new video has been added to IgniteTalks.io at
    %h3=link_to @video.title, @video
    %p.title= "by #{@video.speaker_name}"
    %p.subtitle
      Filmed at
      = link_to @video.event.name, event_page_path(@video.event)
    =image_tag  "http://img.youtube.com/vi/#{@video.uid}/hqdefault.jpg"
    %p= @video.description
    %ul
      %li
        = number_with_delimiter(@video.views, :delimiter => ',')
        views
      %li
        = number_with_delimiter(@video.likes, :delimiter => ',')
        likes
      %li
        = number_with_delimiter(@video.dislikes, :delimiter => ',')
        dislikes