!!!
%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'content' => 'text/html'}
  %body
    %p= "Hi #{@user.name}."
    %p Welcome to IgniteTalks.io. Below are instructions for using the site.
    %h4 Admin page
    %p You can access the Admin page at http://IgniteTalks.io/admin
    %ul
      %li= "Username: #{@user.email}"
      %li= "Passsword: #{@user.password} (once you have logged in you may change this)"
    %p
      See the
      =link_to "How To", "http://content.ignitetalks.io/how-to/"
      page for detailed instructions on adding content to the site.
    %p Happy Igniting!