= simple_form_for(@playlist, html: { class: 'form' })  do |f|
  .form-group
    -if current_user.curator?
      =f.input :featured, {:label => "Feature this playlist on the homepage?"}
      =f.input :listed, {:label => "List this playlist on the Playlists page?"}
    %hr
    .row
      .col-md-12
        %label Ignite event:
        -if current_user.curator?
          = f.collection_select :event_id, Event.all.order(:name), :id, :remove_ignite, {:prompt => "Choose the Ignite"}, {:class=>'form-control select'}
        - else
          = f.collection_select :event_id, current_user.events.all.order(:name), :id, :name, {prompt: "Filmed at..."}, {class: 'form-control select'}

        =f.input :name,  input_html: { class: 'form-control' }, placeholder: "Enter a descriptive name for the playlist (eg Ignite Seattle 23)"
        / Place the playlist ID on the form so we can retrieve it for use in the JSON post later
        -if @playlist.id
          %span#spanPlaylistId.hidden= @playlist.id
        =f.input :description,  input_html: { class: 'form-control' }, placeholder: "Enter  a description for the playlist (optional)"
    -if @playlist.id
      .row.top-15  
        .col-md-12
          %h4.bottom-25
            Videos in this playlist
            .btn.btn-default#btnAddVideosToPlaylist{"data-target" => "#addVideosToPlaylistModal", "data-toggle" => "modal", :type => "button"}
              Add videos to this playlist
          =@videos.each_slice(4) do |vids|
            .row.top-15
              -vids.each do |video|
                .col-md-3.video_thumbnail
                  %span= playlist_thumbnail(video, 30)
          .row.paginate
            = will_paginate @videos, renderer: BootstrapPagination::Rails

    .row
      %hr
      .col-md-12
        =f.submit class: "btn btn-warning top-15"
        =link_to root_path do
          %btn.btn.btn-default.top-15 Cancel

/ Add videos to playlist modal
#addVideosToPlaylistModal.modal.fade{"aria-labelledby" => "addVideosToPlaylistModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#addVideosToPlaylistModalLabel.modal-title Add videos to playlist
        %p.top-15 Choose the videos you wish to add to this playlist (you may need to scroll within this window to see them all)
      .modal-body#videoList
        .row
          .col-md-12
            #videosForPlaylist
              -@videos.each do |video|
                .row.top-5.videoImportToPlaylist{role: "checkbox", :id => "rowVideo#{video.uid}", :data => {:videoID => video.uid}}

                  .col-md-3
                    =check_box_tag "chkVideo#{video.uid}", false, false, class: 'hidden'
                    =image_tag  "//img.youtube.com/vi/#{video.uid}/default.jpg", :class => "thumbImportToPlaylist", :alt => truncate(video.title, length: 20)
                  .col-md-7.col-md-offset-1
                    %strong= "#{video.title} (#{video.speaker_name})"
                    %p= truncate(video.description, length: 100)

      .modal-footer.left
        .btn.btn-warning#btnSavePlaylist Add videos to playlist
        %button.btn.btn-default#btnCloseImportVideosToPlaylist{"data-dismiss" => "modal", :type => "button"} Close