= simple_form_for(@playlist, html: { class: 'form' })  do |f|
  .form-group
    -if current_user.curator?
      =f.input :featured, {:label => "Feature this playlist on the homepage?"}
      =f.input :listed, {:label => "List this playlist on the Playlists page?"}
  %hr
  .row
    .col-md-12#ignite_name
      =f.input :name,  input_html: { class: 'form-control' }, placeholder: "Enter a descriptive name for the playlist (eg Ignite Seattle 23)"
      / Place the playlist ID on the form so we can retrieve it for use in the JSON post later
      -if @playlist.id
        %span#playlistId.hidden= @playlist.id
      =f.input :description,  input_html: { class: 'form-control' }, placeholder: "Enter  a description for the playlist (optional)"
      %label Ignite event:
      -if current_user.curator?
        = f.collection_select :event_id, Event.all.order(:name), :id, :name, {prompt: "Filmed at..."}, {class: 'form-control select' }
      - else
        = f.collection_select :event_id, current_user.events.all.order(:name), :id, :name, {prompt: "Filmed at..."}, {class: 'form-control select'}

  .row.top-50
    .col-md-12
      %h4 Videos in this playlist
      =@playlist.videos.each_slice(6) do |vids|
        .row.top-15
          -vids.each do |video|
            .col-md-2.video_thumbnail
              %span= playlist_thumbnail(video, 30)

  .row
    .col-md-12
      %h4 Add Videos to this playlist
      %form.form-inline
        .form-group
          %input{:type => "text",  :class => "form-control", :id => "txtYouTubePlaylist", :placeholder => "URL for YouTube playlist (eg https://www.youtube.com/playlist?list=PLNCkBYNm9NxlFCCkq0FKl3B1CfiH_SY3N)"}
          %btn.btn.btn-default{:id => "btnImportFromYouTubePlaylist"} Import from YouTube Playlist

  .row#YouTubeVideos
    %h4 Draft videos imported to playlist
    %p.subtitle (click to edit and finish importing)
    #draftVideos

  .row
    %hr
    .col-md-12
      =f.submit class: "btn btn-warning top-15"
      =link_to root_path do
        %btn.btn.btn-default.top-15 Cancel

#newVideoModal.modal.fade.bs-example-modal-sm{:role => "dialog", :tabindex => "-1", :data => {:playlistID => @playlist.id} }
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Import video to playlist
      .modal-body
        
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close