.container
  .row
    .col-md-10.col-md-offset-1
      %h1 About Ignite
      %p Ignite Talks is a fast-paced geek event started in 2006 by Brady Forrest and Bre Pettis. Since the first Ignite took place in Seattle around 10 years ago, Ignite has become an international phenomenon, with Ignite events produced in Helsinki, Tunisia, Paris, New York City and over 350 other locations in between.

      %p Ignite’s mission is “Everyone Speaks”. We believe that public speaking builds confidence in individuals and that events like Ignite build community. Our goal is to make it possible for anyone, anywhere, to learn to present their ideas and their stories.

      %p Ignite is also about having fun, and showing that presentations don't need to be about "death by PowerPoint".

      %p
        Use this site to
        = link_to "find an Ignite", events_path
        near you,
        = link_to "watch Ignite videos", videos_path
        or
        = link_to "start a new Ignite", start_path
        in your city.

  .row
    .col-md-10.col-md-offset-1.top-50
      %h2 Ignite Talks management team

      %p Ignite Talks PBC is a Public Benefits Corporation which supports Ignite globally, and is run by:

  .row.top-15
    .col-md-3.col-md-offset-1.hidden-sm.hidden-xs
      =image_tag "brady.jpg"

    .col-md-6
      %h4= link_to "Brady Forrest (CEO)", "https://www.linkedin.com/in/bradyforrest", :target => "_blank"
      %p
        Brady co-started Ignite back in 2006; he's part of the team currently organizing
        =link_to "Ignite San Francisco", "http://www.ignitesanfrancisco.com/"

      %p
        He also runs
        =link_to "Highway1", "http://highway1.io/"
        , PCH's Hardware Incubator, and is on the lookout for the next great piece of hardware. He's a Venture Advisor to 500 Startups and spent some time on the Investment Staff at Khosla Ventures. Formerly he was at O'Reilly and worked on a number of things including the radar blog, Web 2.0 Expo, Where 2.0, ETech, and Foo Camp.

  .row.top-25
    .col-md-3.col-md-offset-1.hidden-sm.hidden-xs
      =image_tag "carly.jpg"
    .col-md-6
      %h4= link_to "Carly Slater (Head of Growth)", "https://www.linkedin.com/in/carlyslater", :target => "_blank"
      %p Carly is the creator of a new organization for independent event producers, and creators of conferences/unconferences, festivals, meetups, hackathons, flash mobs and experimental formats - essentially, anyone who makes events without large budgets and a standard "venues and menus" approach to event production.

      %p Carly is involved with Ignite Seattle and has previously worked with TEDx.


  .row.top-25
    .col-md-3.col-md-offset-1.hidden-sm.hidden-xs
      =image_tag "stephen.jpg"
    .col-md-6
      %h4= link_to "Stephen Lead (CTO)", "https://www.linkedin.com/in/stephenlead", :target => "_blank"
      %p
        Stephen is a software developer, specialising in geo-spatial applications including web-mapping and desktop geographic information systems tools.
      %p
        Stephen is based in Sydney, Australia and has run
        =link_to "Ignite Sydney", "http://www.ignitesydney.com"
        since 2008, and is passionate about ending boring presentations.
      
      %p Stephen is responsible for building the IgniteTalks website.
