#banner
  =image_tag "header-bg.png"

.container
  .row
    .col-md-6
      %h3 Latest video
      %iframe{src: @first_video.url, width: '100%', height: '400px'}
      %h4= link_to @first_video.title, @first_video
      %p
        Filmed at
        = link_to @first_video.event.name, @first_video.event
    .col-md-4.col-md-offset-2
      %h3 Upcoming events
      %ul
      -@upcomings.each do |upcoming|
        %li
          = link_to upcoming.name, upcoming.event
          = "(#{upcoming.date.to_formatted_s(:rfc822)})"
  .row
    .col-md-12
      %h4 Recent videos
      -@videos.each do |video|
        .row
          .col-md-8.col-md-offset-2
            %iframe{src: video.url, width: '100%', height: '400px'}
            %h3= link_to video.title, video
            %h4
              Filmed at
              = link_to video.event.name, video.event
            %hr

.container
  .row
    .col-md-3.center
      %h4= link_to "Browse all videos", videos_path