#banner
  =image_tag "header-bg.png"

.container
  .row
    .col-md-9
      %h3 Latest video
      %iframe{src: @first_video.url, width: '100%', height: '400px'}
      %h4= link_to @first_video.title, @first_video
      %p
        Filmed at
        = link_to @first_video.event.name, @first_video.event
    .col-md-3
      %h3 Upcoming events
      %ul
      -@upcomings.each do |upcoming|
        %li
          = link_to upcoming.name, upcoming.event
          = "(#{upcoming.date.to_formatted_s(:rfc822)})"
  .row
    .col-md-12
      %h4 Recent videos
  .row
    -@videos.each do |video|
      .col-md-3
        %iframe{src: video.url, width: '100%', height: '250px'}
        %p= link_to video.title, video
        %p.grey
          Filmed at
          = link_to video.event.name, video.event
        %hr
  .row
    .col-md-12
      %h5= link_to "Browse all videos", videos_path