%section.promo-home
  .container
    .row
      .col-md-3.col-sm-3.hidden-xs
        =image_tag( 'ignite-logo_large.png')
      .col-md-9.col-sm-9.col-xs-12
        %h1.top-50 Ignite is a series of speedy presentations
        %p Presenters get 20 slides, which automatically advance every 15 seconds. The result is a fast and fun presentation which lasts just 5 minutes.
        %p Ignite events are held in cities around the world.
        %p
          =link_to "Find an Ignite", events_path
          near you,
          =link_to "browse Ignite videos", videos_path
          or
          =link_to "start a new Ignite", start_path
          in your city.

.container
  .row
    .col-md-9.col-sm-12.col-xs-12
      %h3 Latest video
      .embed-container
        =embed(@first_video.uid)
      %h4.title= link_to truncate(@first_video.title, length: 100), @first_video
      %p.subtitle
        =@first_video.speaker_name
        at
        = link_to @first_video.event.name, event_page_path(@first_video.event)
      .video_rating_below.hidden-xs
        %i.fa.fa-youtube-play
        %span.right-15= number_with_delimiter(@first_video.views, :delimiter => ',')
        %i.fa.fa-thumbs-o-up
        %span.right-15= number_with_delimiter(@first_video.likes, :delimiter => ',')
        %i.fa.fa-thumbs-o-down.left-5
        = number_with_delimiter(@first_video.dislikes, :delimiter => ',')

    .col-md-3.sidebar.hidden-sm.hidden-xs
      .social.center
        = link_to "https://twitter.com/ignitetalks", :target => "_blank" do
          %i.fa.fa-twitter.fa-2x
        = link_to "https://www.facebook.com/ignitetalks", :target => "_blank" do
          %i.fa.fa-facebook.fa-2x
        = link_to "https://plus.google.com/ignite", :target => "_blank" do
          %i.fa.fa-google-plus.fa-2x
        = link_to "https://www.youtube.com/ignite", :target => "_blank" do
          %i.fa.fa-youtube.fa-2x

      .upcoming  
        %h3.center Upcoming events
        %ul
          -@upcomings.each do |upcoming|
            %li
              = link_to upcoming.name, event_page_path(upcoming.event)
              = "(#{upcoming.date.to_formatted_s(:rfc822)})"
        %p.bottom-15.absolute
          = link_to "Let us know", new_upcoming_path
          about an upcoming event!

  .row
    .col-md-12
      %h4 Recent videos
  .row
    -@videos.each do |video|
      .col-md-3
        =link_to thumbnail(video, 'video_rating_small'), video
        %p.title= link_to truncate(video.title, length: 35), video
        %p.subtitle
          = video.speaker_name
          at
          = link_to video.event.name, event_page_path(video.event)

  .row.top-50
    .col-md-2
      %h5= link_to "Browse all videos", videos_path
    .col-md-4.hidden-sm.hidden-xs
      %h5= link_to "Suggest an Ignite video for this site", new_video_path