%section.promo-home
  .container
    .row
      .col-md-3.col-sm-3.hidden-xs
        =image_tag( 'ignite-logo_large.png')
      .col-md-9.col-sm-9.col-xs-12
        %h1.top-50 Ignite is a series of speedy presentations
        %p Presenters get 20 slides, which automatically advance every 15 seconds. The result is a fast and fun presentation which lasts just 5 minutes.
        %p Ignite events are held in cities around the world.
        %p
          =link_to "Find an Ignite", events_path
          near you,
          =link_to "browse Ignite videos", videos_path
          or
          =link_to "start a new Ignite", "http://content.ignitetalks.io/start"
          in your city.

.container-fluid
  .row
    - begin
      .col-lg-6.col-lg-offset-2.col-md-8.col-md-offset-1.col-sm-12.col-xs-12
        %h3 Latest video
        .embed-container
          =embed(@first_video.uid)
        -if @first_video.R18?
          %h4.title= link_to truncate(@first_video.title + " (18+)", length: 100), @first_video
        - else
          %h4.title= link_to truncate(@first_video.title, length: 100), @first_video
        
        %p.subtitle
          =@first_video.speaker_name
          at
          = link_to @first_video.event.name, event_page_path(@first_video.event)
        .video_rating_below.hidden-xs
          %i.fa.fa-youtube-play
          %span.right-15= number_with_delimiter(@first_video.views, :delimiter => ',')
          %i.fa.fa-thumbs-o-up
          %span.right-15= number_with_delimiter(@first_video.likes, :delimiter => ',')
          %i.fa.fa-thumbs-o-down.left-5
          = number_with_delimiter(@first_video.dislikes, :delimiter => ',')
    - rescue
      .col-lg-6.col-lg-offset-2.col-md-8.col-md-offset-1.col-sm-12.col-xs-12
        %h3 Need to add some videos!

    .col-md-2.sidebar.hidden-sm.hidden-xs
      .social.center
        = link_to "https://twitter.com/ignitetalks", :target => "_blank" do
          %i.fa.fa-twitter.fa-2x
        = link_to "https://www.facebook.com/ignitetalks", :target => "_blank" do
          %i.fa.fa-facebook.fa-2x
        / = link_to "https://plus.google.com/ignite", :target => "_blank" do
        /   %i.fa.fa-google-plus.fa-2x
        = link_to "https://github.com/IgniteTalks", :target => "_blank" do
          %i.fa.fa-github.fa-2x

      .upcoming  
        %h3.center Upcoming events
        %ul
          - begin
            -@upcomings.each do |upcoming|
              %li
                = link_to upcoming.name, event_page_path(upcoming.event)
                = "(#{upcoming.date.to_formatted_s(:rfc822)})"
          - rescue
            .col-lg-6.col-lg-offset-2.col-md-8.col-md-offset-1.col-sm-12.col-xs-12
              %h3 Need to add some upcoming events!

        %p.bottom-15.absolute
          - if can? :create, Upcoming
            = link_to "Add a new upcoming event", new_upcoming_path
          - else
            = link_to "Let us know", "https://docs.google.com/forms/d/1qXBkQB3-JTKCNrapzaJaWQSMDjWCXR8fuZ0WSxuQR5o/viewform", :target => "_blank"
            about an upcoming event!
  %hr
  .row.top-15
    / .col-md-4.col-sm-12.col-xs-12
    /   = form_tag videos_path, class: "form-inline", method: :get do
    /     .input-group
    /       = text_field_tag :query, params[:query], class: "form-control", id: "search", autocomplete: "off"
    /       .input-group-btn
    /         - if params[:query].present?
    /           = link_to videos_path, class: "btn btn-default" do
    /             %i.fa.fa-times
    /         = submit_tag "Search", class: "btn btn-default"
    .col-md-8.right.hidden-sm.hidden-xs
      =link_to videos_path do
        %span.btn.btn-default.tags#clear-filter
          %i.fa.fa-times
          clear
      =link_to videos_path(sort: "views") do
        %span.btn.btn-default.tags{:id => "tag_views"}
          %i.fa.fa-youtube-play
          = "views"
      =link_to videos_path(sort: "likes") do
        %span.btn.btn-default.tags{:id => "tag_likes"}
          %i.fa.fa-thumbs-o-up
          = "likes"
      - @tags.each do |tag|
        =link_to videos_path(tag: tag.name) do
          %span.btn.btn-default.tags{:id => "tag_" + tag.name}= tag.name.titleize

  - if @playlists.exists?
    .row#playlist_row.top-25
      .col-md-12
        -@playlists.each do |playlist|
          .row.top-15
            .col-md-12
              %h4= link_to playlist.name, playlist
            -playlist.videos.order("RANDOM()").limit(4).each do |video|
              .col-md-3.playlist_thumbnail
                %span= thumbnail(video, 'video_rating_small', 40)
         
  - if @playlists.exists?        
    .row.top-50
      .col-md-12
        %h4 Featured Ignite videos
  - else
    .row
      .col-md-12
        %h4 Featured Ignite videos

  -@videos.each_slice(4) do |vids|
    .row.top-15
      -vids.each do |video|
        .col-md-3
          = thumbnail(video, 'video_rating_small',30)

  .row.top-50
    .col-md-2
      %h5= link_to "Browse all playlists", playlists_path
    .col-md-2
      %h5= link_to "Browse all videos", videos_path
    .col-md-3.hidden-sm.hidden-xs
      -if user_signed_in?
        %h5= link_to "Add a new video", new_video_path
      - else
        %h5= link_to "Suggest an Ignite video for this site", "https://docs.google.com/forms/d/1NrIlpRb_IvBl1zGw0LuVhipUxeVJE1r28UUglcFXYjQ/viewform", :target => "_blank"

  / .container.hidden-sm.hidden-xs
  /   %hr
  /   .row.top-50#stats
  /     .col-md-3
  /       %span.numscroller.roller-title-number-1.scrollzip.isShown{"data-delay" => "7", "data-increment" => "2", "data-max" => "29", "data-min" => "0", "data-slno" => "1"}
  /         =number_with_delimiter(@total_events, :delimiter => ',')
  /       Ignites
  /     .col-md-3
  /       %span.numscroller.roller-title-number-2.scrollzip.isShown{"data-delay" => "7", "data-increment" => "10", "data-max" => "2775", "data-min" => "0", "data-slno" => "2"}
  /         =number_with_delimiter(@total_videos, :delimiter => ',')
  /       videos
  /     .col-md-3
  /       %span.numscroller.roller-title-number-3.scrollzip.isShown{"data-delay" => "3", "data-increment" => "1", "data-max" => "7", "data-min" => "0", "data-slno" => "3"}
  /         =number_with_delimiter(@total_views, :delimiter => ',')
  /       views
  /     .col-md-3
  /       %span.numscroller.roller-title-number-4.scrollzip.isShown{"data-delay" => "7", "data-increment" => "3", "data-max" => "78", "data-min" => "0", "data-slno" => "4"}
  /         =number_with_delimiter(@total_likes, :delimiter => ',')
  /       likes
            
        