%header
  .container
    .intro-text
      .intro-heading Ignite is a series of fun, five-minute presentations
      .intro-lead-in
        Ignite events are held in cities around the world.
      .intro-lead-in
        =link_to "Find an Ignite", events_path
        near you,
        =link_to "browse videos", videos_path
        or
        =link_to "start your own", start_path

.container
  .row
    .col-md-9
      %h3 Latest video
      .embed-container
        =embed(@first_video.url)
      %h4.video_title= link_to truncate(@first_video.title, length: 100), @first_video
      %p.video_subtitle
        =@first_video.speaker_name
        at
        = link_to @first_video.event.name, event_page_path(@first_video.event)
    .col-md-3.sidebar.col-sm-12
      .social.center
        = link_to "https://twitter.com/ignite" do
          %i.fa.fa-twitter.fa-2x
        = link_to "https://www.facebook.com/ignite" do
          %i.fa.fa-facebook.fa-2x
        = link_to "https://plus.google.com/ignite" do
          %i.fa.fa-google-plus.fa-2x
        = link_to "https://www.youtube.com/ignite" do
          %i.fa.fa-youtube.fa-2x

      .upcoming  
        %h3.center Upcoming events
        %ul
          -@upcomings.each do |upcoming|
            %li
              = link_to upcoming.name, event_page_path(upcoming.event)
              = "(#{upcoming.date.to_formatted_s(:rfc822)})"
        %p.bottom= link_to "Let us know about an upcoming event!", root_path

  .row
    .col-md-12
      %h4 Recent videos
  .row
    -@videos.each do |video|
      .col-md-3
        .embed-container
          =embed(video.url)
        %p.video_title= link_to truncate(video.title, length: 35), video
        %p.video_subtitle
          = video.speaker_name
          at
          = link_to video.event.name, event_page_path(video.event)
        %hr
  .row
    .col-md-12
      %h5= link_to "Browse all videos", videos_path