%section.promo-home
  .container
    .row
      .col-md-3.col-sm-3.hidden-xs
        =image_tag( 'ignite-logo_large.png')
      .col-md-9.col-sm-9.col-xs-12
        %h1.top-50 Ignite is a series of speedy presentations
        %p Presenters get 20 slides, which automatically advance every 15 seconds. The result is a fast and fun presentation which lasts just 5 minutes.
        %p Ignite events are held in cities around the world.
        %p
          =link_to "Find an Ignite", events_path
          near you,
          =link_to "browse Ignite videos", videos_path
          or
          =link_to "start a new Ignite", start_path
          in your city.

.container-fluid
  .row
    .col-md-8.col-md-offset-1.col-sm-12.col-xs-12
      %h3 Latest video
      .embed-container
        =embed(@first_video.uid)
      %h4.title= link_to truncate(@first_video.title, length: 100), @first_video
      %p.subtitle
        =@first_video.speaker_name
        at
        = link_to @first_video.event.name, event_page_path(@first_video.event)
      .video_rating_below.hidden-xs
        %i.fa.fa-youtube-play
        %span.right-15= number_with_delimiter(@first_video.views, :delimiter => ',')
        %i.fa.fa-thumbs-o-up
        %span.right-15= number_with_delimiter(@first_video.likes, :delimiter => ',')
        %i.fa.fa-thumbs-o-down.left-5
        = number_with_delimiter(@first_video.dislikes, :delimiter => ',')

    .col-md-2.sidebar.hidden-sm.hidden-xs
      .social.center
        = link_to "https://twitter.com/ignitetalks", :target => "_blank" do
          %i.fa.fa-twitter.fa-2x
        = link_to "https://www.facebook.com/ignitetalks", :target => "_blank" do
          %i.fa.fa-facebook.fa-2x
        / = link_to "https://plus.google.com/ignite", :target => "_blank" do
        /   %i.fa.fa-google-plus.fa-2x
        = link_to "https://github.com/IgniteTalks", :target => "_blank" do
          %i.fa.fa-github.fa-2x

      .upcoming  
        %h3.center Upcoming events
        %ul
          -@upcomings.each do |upcoming|
            %li
              = link_to upcoming.name, event_page_path(upcoming.event)
              = "(#{upcoming.date.to_formatted_s(:rfc822)})"
        %p.bottom-15.absolute
          = link_to "Let us know", new_upcoming_path
          about an upcoming event!
          
  .row
    .col-md-12
      %h4 Recent videos

  .row.top-15
    .col-md-4.col-sm-12.col-xs-12
      = form_tag videos_path, class: "form-inline", method: :get do
        .input-group
          = text_field_tag :query, params[:query], class: "form-control", id: "search", autocomplete: "off"
          .input-group-btn
            - if params[:query].present?
              = link_to videos_path, class: "btn btn-default" do
                %i.fa.fa-times
            = submit_tag "Search", class: "btn btn-default"
    .col-md-8.right.hidden-sm.hidden-xs
      =link_to videos_path do
        %span.btn.btn-default.tags#clear-filter
          %i.fa.fa-times
          clear
      =link_to videos_path(sort: "views") do
        %span.btn.btn-default.tags{:id => "tag_views"}
          %i.fa.fa-youtube-play
          = "views"
      =link_to videos_path(sort: "likes") do
        %span.btn.btn-default.tags{:id => "tag_likes"}
          %i.fa.fa-thumbs-o-up
          = "likes"
      - @tags.each do |tag|
        =link_to videos_path(tag: tag.name) do
          %span.btn.btn-default.tags{:id => "tag_" + tag.name}= tag.name.titleize

  -@videos.each_slice(4) do |vids|
    .row.top-15
      -vids.each do |video|
        .col-md-3
          = thumbnail(video, 'video_rating_small',35)

  .row.top-50
    .col-md-2
      %h5= link_to "Browse all videos", videos_path
    .col-md-4.hidden-sm.hidden-xs
      %h5= link_to "Suggest an Ignite video for this site", new_video_path