!!!
%html
  %head
    %meta{'charset' => 'utf-8'}/
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/
    %meta{'description' => 'TODO: Information about Ignite'}/
    %meta{'author' => 'Stephen Lead'}/

    %title Ignite. Enlighten us, but make it quick
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Montserrat:400,700"}
    %link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Raleway:400,700"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'tile.stamen'
    = analytics_init if Rails.env.production?

  %body#page-top.index
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", "type" => "button", "aria-expanded" => "false", "aria-controls" => "navbar"}

            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          =link_to root_path, {:class => "navbar-brand"} do
            = image_tag 'ignite_logo.png', :style => "margin-top: -15px;"
            %small Enlighten us, but make it quick

        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              =nav_link "About Ignite", "/about"
            %li
              =nav_link "Find an Ignite", "/events"
            %li
              =nav_link "Browse videos", videos_path
            %li
              =nav_link "Start an Ignite", "/start"
      
      .notifications
        - if notice
          #notice_wrapper
            %p.alert.alert-dismissable= notice
            %span.close{type: "button", data: {dismiss:"alert"}}
              %i.fa.fa-times
        - elsif alert
          #alert_wrapper
            %p.alert.alert-dismissable= alert
            %span.close{type: "button", data: {dismiss:"alert"}}
              %i.fa.fa-times
    =yield

    %footer
      .row
        .col-md-3
          %ul
            %li= link_to "Contact Us", root_path
            %li= link_to "Find an Ignite", root_path
            %li= link_to "Browse videos", root_path
            %li= link_to "Start an Ignite", root_path
            %li= link_to "Dapibus Lorem Inceptos Vulputate", root_path
            %li= link_to "Cras Quam Risus Parturient Ligula", root_path
            %li= link_to "Mattis Etiam Dapibus Egestas", root_path
            %li= link_to "Purus Fermentum Euismod Ligula Pharetra", root_path
        .col-md-4.col-md-offset-1.map
          %p.center Map goes here
        .col-md-3.col-md-offset-1
          %h4 About Ignite
          %p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          %p Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla.
    .row.sponsors
      .col-md-8.col-md-offset-2.center
        %h4 Founding sponsor
        = link_to image_tag( 'oreilly_logo.png'), 'http://www.oreilly.com'
