!!!
%html
  %head
    %meta{'charset' => 'utf-8'}/
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/
    %meta{'name' => 'description', :content => 'TODO: Add information about Ignite'}/
    %meta{'name' => 'author', :content => 'Stephen Lead'}/

    %title Ignite. Enlighten us, but make it quick
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Raleway:400,700"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'tile.stamen'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js'
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"
    = analytics_init if Rails.env.production?

  %body#page-top.index
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", "type" => "button", "aria-expanded" => "false", "aria-controls" => "navbar"}

            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          =link_to root_path, {:class => "navbar-brand"} do
            = image_tag 'ignite_logo.png', :style => "margin-top: -13px;"
            %small Enlighten us, but make it quick

        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            -if user_signed_in?
              %li= link_to "Admin", admin_path
            =nav_link("About Ignite", "/about")
            =nav_link "Find an Ignite", "/events"
            =nav_link "Browse videos", videos_path
            =nav_link "Start an Ignite", "/start"
      
      .notifications
        - if notice
          #notice_wrapper
            %p.alert.alert-dismissable= notice
            %span.close{type: "button", data: {dismiss:"alert"}}
              %i.fa.fa-times
        - elsif alert
          #alert_wrapper
            %p.alert.alert-dismissable= alert
            %span.close{type: "button", data: {dismiss:"alert"}}
              %i.fa.fa-times
    =yield

    %footer
      .row
        .col-md-2.col-md-offset-1
          %h4.center Links
          %ul
            %li= link_to "Contact Us", root_path
            %li= link_to "Find an Ignite", events_path
            %li= link_to "Browse videos", videos_path
            %li= link_to "Start an Ignite", start_path
            %li= link_to "Become an Ignite sponsor", root_path
        .col-md-4.col-md-offset-1.map
          %h4.center Find your local Ignite
          = link_to image_tag( 'map.png'), events_path
        .col-md-3.col-md-offset-1
          %h4.center About Ignite
          %p Ignite is all about fast and fun presentations. Seakers must build their presentations with 20 slides, each of which is shown for 15 seconds, giving each speaker 5 minutes of fame.
          %p The first Ignite took place in Seattle in 2006, and since then the event has become an international phenomenon.
          %p Ignite is a trademark of O'Reilly Publishing and is used with permission.
          %p
            Read
            =link_to "more", about_path
            about Ignite.
    .row.sponsors
      .col-md-8.col-md-offset-2.center
        %h4 Founding sponsor
        = link_to image_tag( 'oreilly_logo.png'), 'http://www.oreilly.com'
