!!!
%html
  %head
    =render 'layouts/header'
  %body#page-top.index
    =render 'layouts/nav'
    =render 'layouts/notifications'

    =yield
    / Sponsor information is shown on the major pages only
    -if ["contacts", "content"].include? params["controller"]
      %hr
      .row.sponsors
        .col-md-8.col-md-offset-2.center
          %h2 Founding sponsor
          = link_to image_tag( 'oreilly.png'), 'http://www.oreilly.com', :target => "_blank"
      .row.top-15.bottom-15
        .col-md-8.col-md-offset-2.center
          %h3.bottom-15 Sponsors
          .row
            .col-md-4
              = link_to image_tag( 'FoundryGroup_logo.png', :class => 'logo'), 'http://foundrygroup.com/', :target => "_blank"
            .col-md-4
              = link_to image_tag( 'microsoft_research.png', :class => 'logo'), 'http://research.microsoft.com/en-us/', :target => "_blank"
            .col-md-4 
              = link_to image_tag( 'pch-logo.png', :class => 'logo'), 'http://www.pchintl.com/', :target => "_blank"
          / Partners are only shown on the Contact Us page (plus the Wordpress site)
          -if params["controller"] == "contacts"
            %h4.bottom-15 Partners
            .row
              .col-md-4
                = link_to image_tag( 'svb_logo.png', :class => 'logo'), 'http://www.svb.com/', :target => "_blank"
              .col-md-4
                = link_to image_tag( 'aeonlaw-logo.png', :class => 'logo'), 'http://aeonlaw.com/', :target => "_blank"
              .col-md-4 
                = link_to image_tag( 'aws-logo.png', :class => 'logo'), 'http://aws.amazon.com/', :target => "_blank"

    %footer
      .row
        .col-md-3
          %h4.left-40 Links
          %ul.contact
            %li= link_to "About Ignite Talks", "http://content.ignitetalks.io/about"
            %li= link_to "Contact Us", "http://content.ignitetalks.io/contact-us"
            %li= link_to "Find an Ignite", events_path
            %li= link_to "Browse videos", videos_path
            %li= link_to "Start an Ignite", "http://content.ignitetalks.io/start"
            %li= link_to "Become a sponsor", "http://content.ignitetalks.io/contact-us"
            %li= link_to "Send feedback", "http://content.ignitetalks.io/contact-us"
          
          #mailchimp.left-35.top-25
            %form{:action => "//ignitetalks.us11.list-manage.com/subscribe/post?u=aefefa6ad7468b09d55802649&id=4f70b0376d", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              %h5 Subscribe for the latest updates
              %input{:name => "EMAIL", :type => "email", :value => "", :placeholder => "Your email address"}
              #mce-responses.clear
                #mce-error-response.response{:style => "display:none"}
                #mce-success-response.response{:style => "display:none"}
              / real people should not fill this in and expect good things - do not remove this or risk form bot signups
              %div{:style => "position: absolute; left: -5000px;"}
                %input{:name => "b_aefefa6ad7468b09d55802649_4f70b0376d", :tabindex => "-1", :type => "text", :value => ""}
              .clear
                %input.top-5{:name => "subscribe", :type => "submit", :value => "Subscribe"}

        .col-md-4.col-md-offset-1.map
          %h4.center Find your local Ignite
          = link_to image_tag( 'map.png'), events_path, :id => "eventsMap"

          .social.top-15.center
            = link_to "https://twitter.com/ignitetalks", :target => "_blank" do
              %i.fa.fa-twitter.fa-2x
            = link_to "https://www.facebook.com/ignite", :target => "_blank" do
              %i.fa.fa-facebook.fa-2x
            = link_to "https://github.com/IgniteTalks", :target => "_blank" do
              %i.fa.fa-github.fa-2x

        .col-md-3.col-md-offset-1
          %h4.center About Ignite
          %p Ignite is all about fast and fun presentations. Speakers must build their presentations with 20 slides, each of which is shown for 15 seconds, giving each speaker 5 minutes of fame.
          %p The first Ignite took place in Seattle in 2006, and since then the event has become an international phenomenon.
          %p= link_to "Read more about Ignite.", "http://content.ignitetalks.io/about"
          %br
          %p.small Ignite is a trademark of Ignite Talks PBC (Public Benefits Corporation).
