!!!
%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{'name' => 'description', :content => 'Ignite is a series of 5-minute presentations, where each presenter must use 20 slides, which auto-advance every 15 seconds. Ignite events take place all over the world.'}
    %meta{'name' => 'author', :content => 'Stephen Lead'}
    %meta{'name' => 'contact', :content => 'http://www.stephenlead.com'}
    %meta{'name' => 'google-site-verification', :content => 'lrXVGG6ASnzX9QfLh11oCCsR0XduLmTQgzpxtOaKCGk'}
    %meta{'property' => "og:title", :content => og_title}
    %meta{'property' => "og:url", :content => request.original_url}
    %meta{'property' => "og:description", :content => og_description}
    %meta{'property' => "og:type", :content => "website"}
    %meta{'property' => "og:image", :content => og_image}
    %meta{'name' => 'twitter:card', :content => 'summary_large_image'}
    %meta{'name' => 'twitter:site', :content => '@ignitetalks'}
    %meta{'name' => 'twitter:image', :content => og_image}
    %meta{'name' => 'twitter:description', :content => og_description}

    %title Ignite. Enlighten us, but make it quick
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Raleway:400,700"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'tile.stamen'
    = javascript_include_tag 'js.cookie'
    = javascript_include_tag 'https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js'
    = analytics_init if Rails.env.production?

  %body#page-top.index
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", "type" => "button", "aria-expanded" => "false", "aria-controls" => "navbar"}

            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          =link_to root_path, {:class => "navbar-brand"} do
            = image_tag 'ignite_logo.png', :style => "margin-top: -13px;"
            %small Enlighten us, but make it quick

        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            -if user_signed_in?
              %li= link_to "Admin", admin_path
            =nav_link "Find an Ignite", "/events"
            =nav_link "Browse videos", videos_path
            =nav_link "Start an Ignite", "/start"
      
    .notifications
      - if notice
        #notice_wrapper
          %p.alert.alert-dismissable= notice
          %span.close{type: "button", data: {dismiss:"alert"}}
            %i.fa.fa-times
      - elsif alert
        #alert_wrapper
          %p.alert.alert-dismissable= alert
          %span.close{type: "button", data: {dismiss:"alert"}}
            %i.fa.fa-times
    =yield
    %hr
    .row.sponsors
      .col-md-8.col-md-offset-2.center
        %h3 Founding sponsor
        = link_to image_tag( 'oreilly_logo.png'), 'http://www.oreilly.com', :target => "_blank"
    .row.top-15.bottom-15
      .col-md-8.col-md-offset-2.center
        %h4.bottom-15 Partners
        .row
          .col-md-3
            = link_to image_tag( 'FoundryGroup_logo.png', :class => 'logo'), 'http://foundrygroup.com/', :target => "_blank"
          .col-md-3
            = link_to image_tag( 'aeonlaw-logo.png', :class => 'logo'), 'http://aeonlaw.com/', :target => "_blank"
          .col-md-3
            = link_to image_tag( 'pch-logo.png', :class => 'logo'), 'http://www.pchintl.com/', :target => "_blank"
          .col-md-3
            = link_to image_tag( 'EFCO-logo.png', :class => 'logo'), 'http://efcolorado.org/', :target => "_blank"

    %footer
      .row
        .col-md-2.col-md-offset-1
          %h4.center Links
          %ul.contact
            %li= link_to "About Ignite Talks", about_path
            %li= link_to "Contact Us", contact_path
            %li= link_to "Find an Ignite", events_path
            %li= link_to "Browse videos", videos_path
            %li= link_to "Start an Ignite", start_path
            %li= link_to "Become a sponsor", contact_path
            %li= link_to "Send feedback", feedback_path(page: request.fullpath)
          %span.social
            = link_to "https://twitter.com/ignitetalks", :target => "_blank" do
              %i.fa.fa-twitter.fa-2x
            = link_to "https://www.facebook.com/ignite", :target => "_blank" do
              %i.fa.fa-facebook.fa-2x
            / = link_to "https://plus.google.com/ignite", :target => "_blank" do
            /   %i.fa.fa-google-plus.fa-2x
            = link_to "https://github.com/IgniteTalks", :target => "_blank" do
              %i.fa.fa-github.fa-2x

        .col-md-4.col-md-offset-1.map
          %h4.center Find your local Ignite
          = link_to image_tag( 'map.png'), events_path, :id => "eventsMap"
        .col-md-3.col-md-offset-1
          %h4.center About Ignite
          %p Ignite is all about fast and fun presentations. Speakers must build their presentations with 20 slides, each of which is shown for 15 seconds, giving each speaker 5 minutes of fame.
          %p The first Ignite took place in Seattle in 2006, and since then the event has become an international phenomenon.
          %p= link_to "Read more about Ignite.", about_path
          %br
          %p.small Ignite is a trademark of Ignite Talks PBC (Public Benefits Corporation).
