!!!
%html
  %head
    %title Ignite. Enlighten us, but make it quick
    = javascript_include_tag 'application'
    = csrf_meta_tags
    / %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Montserrat:400,700"}
    / %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Kaushan+Script"}
    / %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"}
    / %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'tile.stamen'

  %body#page-top.index
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", "type" => "button", "aria-expanded" => "false", "aria-controls" => "navbar"}

            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          =link_to root_path, {:class => "navbar-brand"} do
            Ignite
            %small Enlighten us, but make it quick

        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to "About Ignite", "/about"
            %li
              =link_to "Find an Ignite", "/events"
            %li
              =link_to "Start an Ignite", "/start"
      
      .notifications
        - if notice
          #notice_wrapper
            %p.alert.alert-dismissable= notice
            %span.close{type: "button", data: {dismiss:"alert"}}
              %i.fa.fa-times
        - elsif alert
          #alert_wrapper
            %p.alert.alert-dismissable= alert
            %span.close{type: "button", data: {dismiss:"alert"}}
              %i.fa.fa-times
    =yield
      